<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Display</title>
    <script>
        // Function to reload the page every 10 seconds
        function reloadPage() {
            setTimeout(function() {
                location.reload();
            }, 10000); // 10000 milliseconds = 10 seconds
        }

        // Call the reloadPage function when the page loads
        window.onload = reloadPage;
    </script>
</head>
<body>
    <h1>Predictions</h1>
    
    <ul>
        {% for triplet_id, prediction_history in all_prediction_history.items() %}
            <li>{{ triplet_id }}: {{ prediction_history }}</li>
        {% endfor %}
    </ul>
    
</body>
</html>
